<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772325308519-o7104atif260dnjh6smkvgia2p71iu2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772325308519-o7104atif260dnjh6smkvgia2p71iu2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772325308519-3ecgq8dk595tremkimqc2gaqndhrajgh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0OuVt3bhwh97NnJaCHq562Z_tbYXlblI</string>
	<key>GCM_SENDER_ID</key>
	<string>772325308519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horsltd.Matreshka</string>
	<key>PROJECT_ID</key>
	<string>matreshka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>matreshka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:772325308519:ios:c7bb6abc3e9e532170bcc2</string>
</dict>
</plist>
